@import "tailwindcss";

@font-face {
  font-family: 'Libertinus Math';
  src: url('/fonts/LibertinusMath-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
/* globals.css or in your main CSS file */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap')